<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="header" th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Tracking Camioneros</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="home">Home<span
							class="sr-only">(current)</span></a></li>
							
					<li class="nav-item active"><a class="nav-link" href="obtenerPersonasLocalidad">ConsultaLocalidadHora<span
							class="sr-only"></span></a>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> BD </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="gestionLocalidades">Registrar
								Localidades</a> <a class="dropdown-item" href="gestionUsuarios">Gestionar
								Usuarios</a>
						</div></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Registro </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="AltaPersona">Registrar
								Personas</a> <a class="dropdown-item" href="createRegistro">Registrar
								Controles</a>
						</div></li>
				</ul>

				 <ul class="navbar-nav mt-2 mt-lg-0">
					<li class="nav-item"><a class="btn btn-outline-dark" href="#" th:href="@{/logout}"> <span
							th:text="${#authentication.getPrincipal().getUsername()}">
						</span> - <span> Salir </span><span class="float-right"> <i class="fas fa-sign-out-alt"></i></span></a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>