<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>barrios</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<div th:insert="layout/header :: header"></div>
		<div th:each="rol :${#authentication.getPrincipal().getAuthorities()}">
			<div th:if="${rol.toString() == 'DB'}">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<form th:action="@{/saveBarrio}" th:object=${barrio} method="POST">
							<h3>Alta barrio</h3>
							<div>
								<label for="nombreLocalidad">Nombre</label> <input
									th:field="*{nombre}" type="text" class="form-control"
									id="nombreLocalidad">
							</div>
							<div class="form-group row">
								<div class="col-sm-10 text-center">
									<button type="submit" class="btn btn-primary" value="guardar">GUARDAR</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="layout/footer :: footer"></div>
	</div>


</body>
</html>