<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div th:insert="layout/header :: header"></div>
		<div class="row">
			<div class="col-md-6 offset-md-1">
				<h1>Obtener Persona</h1>
				<form th:action="@{/getPersonaRegistro}" th:object=${persona} method="POST">
					<div>
						<label>Ingrese Documento</label> <input th:field="*{documento}"
							type="text" class="form-control" />
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<input type="submit" value="buscar" class="btn btn-primary">
						</div>
					</div>
				</form>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Apellido</th>
								<th>Nombre</th>
								<th>Nacionalidad</th>
								<th>Documento</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="${persona.id}"></td>
								<td th:text="${persona.apellido}"></td>
								<td th:text="${persona.nombres}"></td>
								<td th:text="${persona.nacionalidad}"></td>
								<td th:text="${persona.documento}"></td>

							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4 offset-md-1">
				<h1>Control</h1>
				<form th:action="@{/saveValidacionRegistro}" th:object=${validacion}
					method="POST">
					<div>
						<input th:field="*{persona.id}" type="hidden" />
					</div>
					<div>
						<label>Usa Tapabocas</label> <input type="checkbox"
							th:field="*{usaTapaboca}">
					</div>
					<div>
						<label>Cumple Terminacion DNI</label> <input type="checkbox"
							th:field="*{cumpleTerminacionDNI}">
					</div>
					<div>
						<label>Posee Permiso Circulacion</label> <input type="checkbox"
							th:field="*{poseePermisoCirculacion}">
					</div>
					<div>
						<label>Esta acompañado</label> <input type="checkbox"
							th:field="*{estaAcompaniado}">
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<input type="submit" value="guardar persona"
								class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>

		<br> <br>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1>Registrar Control</h1>
				<form th:action="@{/saveRegistro}" th:object=${registro}
					method="POST">
					<div>
						<br> <label>Seleccione un barrio</label>
						<div class="form-group row">
							<select th:field="*{localidad.id}">
								<option th:each="barrio :${localidades}" th:value="${barrio.id}"
									th:text="${barrio.nombre}">
							</select>
						</div>

						<label>Detalle lugar</label> <input
							th:field="${registro.detalleLugarRegistro}" class="form-control"
							type="text" />
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<input type="submit" value="Guardar Registro de Personas"
								class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div th:insert="layout/footer :: footer"></div>
	</div>





</body>
</html>